<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<form action='/users?cmd=login'>
			<input type='hidden' name='cmd' value='login' />
			用户名：
			<input type='text' name='name' autocomplete='off'/>
			<br />
			密码：
			<input type='text' name='passwd' autocomplete='off'/>
			<br />
			<input type='submit' value='Login' />
		</form>
	</body>
</html>
