<!DOCTYPE html>
<html>
	<head>
		<title>Search From <%= origin %></title>
	</head>
	<body>
		<form action='/get'>
			<input type='hidden' name='style' value='search' />
			小说名：
			<input type='text' name='bname' autocomplete='off'/>
			<input type='submit' value='Search' />
		</form>
	</body>
</html>
