<!DOCTYPE html>
<html>
	<head>
		<title><%= user %></title>
	</head>
	<body>
		<div>welcome~<%= user %></div>
		<p>
		<a href='/users?cmd=bookshelf'>书架</a>
			<br />
			<a href='/users?cmd=history'>历史</a>
		</p>
	</body>
</html>
